.container {
  display: flex;

  .canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 230px;
  }

  .bottom-panel {
    display: flex;
    padding: 15px;
    position: fixed;
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 2px solid #ccc;

    textarea {
      width: 450px;
      height: 190px;
      margin-right: 20px;
      padding: 5px 10px;
    }

    button {
      background-color: #00ffff;
      border: none;
      padding: 10px 20px;
      height: 45px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.diagram-div {
  background: white;
  width: 100%;
  height: 100%;
}
