<div class="container">
  <div class="canvas">
    <gojs-diagram
      #myDiagram
      [initDiagram]="initDiagram"
      [nodeDataArray]="diagramNodeData"
      [linkDataArray]="diagramLinkData"
      [divClassName]="diagramDivClassName"
      [modelData]="diagramModelData"
      (modelChange)="diagramModelChange($event)"
    >
    </gojs-diagram>
  </div>
  <div class="bottom-panel">
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="JSON объект диаграммы"
      [(ngModel)]="jsonValue"
      (ngModelChange)="onJsonChange($event)"
    ></textarea>
    <button (click)="addFigure()">Добавить фигуру</button>
  </div>
</div>
